.contact {
  background-color: #eae0e0;
  padding: 100px 0;
}
.contact-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.contact-left-title {
  font-weight: 600;
  color: var(--secondary-color);
  font-size: clamp(1.5rem, 0.5rem + 2.6667vw, 2.5rem);
  margin-bottom: 5px;
}
.contact-left hr {
  border: none;
  width: 120px;
  height: 5px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  margin-bottom: 20px;
}
.contact-inputs {
  width: 400px;
  height: 50px;
  border: transparent;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #666;
  border-radius: 50px;
}
.contact-left textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}
.contact-inputs:focus {
  border: 2px solid #666;
}
.contact-inputs::placeholder {
  color: #a9a9a9;
}
.contact-left button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 15px;
  color: #fff;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: var(--secondary-color);
}
.contact-left button img {
  height: 15px;
}
.contact-right img {
  width: 500px;
}

@media (max-width: 800px) {
  .contact-inputs {
    width: 80vw;
  }
  .contact-right img {
    display: none;
  }
  .contact-left hr {
    width: 80px;
  }
}
