.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 48px;
  background-color: var(--primary-color);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}
.logo {
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
}
.nav-menu {
  display: flex;
  align-items: center;
  gap: 60px;
}
.nav-menu li {
  font-size: 14px;
  color: #ffffff;
  transition: 0.2s ease;
}
.nav-menu li:hover {
  color: var(--secondary-color);
}
.contact-us {
  background-color: var(--secondary-color);
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
  color: #fff;
  transition: 0.2s ease;
}
.contact-us:hover {
  background-color: #fff;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
#bar {
  color: #fff;
  font-size: 30px;
  display: none;
}
